{% extends "slots/page.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="p-0 sm:p-5">
  <div class="mx-auto container max-w-2xl p-5 sm:border border-gray-300 dark:border-gray-700 rounded-md">
    <h1 class="mb-4 text-3xl font-extrabold dark:text-white">Đặt lại mật khẩu</h1>
    <p class="my-2 text-lg text-gray-500">Chúng tôi đã gửi cho bạn email hướng dẫn cách đặt mật khẩu.</p>
    <p class="my-2 text-lg text-gray-500">Nếu bạn không nhận được email, vui lòng đảm bảo rằng bạn đã nhập địa chỉ bạn đã đăng ký.</p>
  </div>
</div>
{% endblock content %}