
<header
    class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white border-b border-gray-200 text-sm py-3 sm:py-0 dark:bg-gray-800 dark:border-gray-700">
    <nav class="relative flex flex-wrap basis-full items-center w-full gap-2 mx-auto px-4 justify-between"
        aria-label="Global">
        <div class="flex flex-wrap items-center gap-4">
            {% include 'components/navbar/sidebar_left.html' %}
        </div>
        <div class="flex flex-wrap items-center gap-4">
            {% include 'components/navbar/sidebar_right.html' %}
        </div>
    </nav>
</header>