{% extends 'slots/page.html' %}

{% block title %}Create a new post{% endblock title %}

{% block content %}
<div class="p-0 sm:p-5">
    <div class="mx-auto container max-w-5xl p-5 sm:border border-gray-300 dark:border-gray-700 rounded-md">

        <div class="mb-8">
            <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-200">
                Bài viết
            </h2>
            <p class="text-sm text-gray-600 dark:text-gray-400">
                Thêm bài viết mới.
            </p>
        </div>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {% include 'snippet/form.html' %}
            <div class="mt-5 flex justify-end gap-x-2">
                <a href="{% url 'my_project_post_list_view' %}">
                    <button type="button"
                        class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                        Hủy
                    </button></a>
                <button type="submit"
                    class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                    Tạo bài viết
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}